<form>
    <div class="form-group">
        <label>Token Ring Image:</label>
        <input type="file" name="image1" accept="image/*">
    </div>
    <div class="form-group">
        <label>Token Border Image:</label>
        <input type="file" name="image2" accept="image/*">
    </div>
    <div class="form-group">
        <label>Thickness:</label>
        <input type="number" name="thickness" value="10">
    </div>
    <div class="form-group">
        <label>Inner Ring:</label>
        <input type="number" name="innerRing" value="5">
    </div>
    <div class="form-group">
        <label>Outer Ring:</label>
        <input type="number" name="outerRing" value="15">
    </div>
    <div class="form-group">
        <label>Color:</label>
        <input type="color" name="color" value="#ff0000">
    </div>
</form>
