button.SETT-button {
  width: 50%;
  position: relative;
  transform: translateX(95%);
}

.ring-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  overflow-y: auto;
  max-height: 580px; /* Adjust based on desired height */
}
.ring-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.ring-item h4 {
  margin: 5px 0;
}
.ring-item img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.ring-item h5 {
  margin: 5px 0;
  display: inline-block;
  width: calc(100% - 30px); /* Adjusted width to accommodate the checkbox */
  vertical-align: middle;
}

.ring-item label {
  float: right;
  margin-right: 0; /* Ensures the checkbox is aligned with the right edge */
  vertical-align: middle; /* Aligns the checkbox with the middle of the author's name */
}
#ring-search {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
